<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link nav-link-title" data-bs-toggle="collapse" href="#ui-history" aria-expanded="true" aria-controls="ui-pool">
        <span class="menu-title">历史记录</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-pool menu-icon"></i>
      </a>
      <div class="collapse show" id="ui-history">
        <ul class="nav flex-column sub-menu history-list">
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link nav-link-title" href="./persons.html">
        <span class="menu-title">成员列表</span>
        <i class="mdi mdi-account-multiple-outline menu-icon"></i>
      </a>
    </li>

  </ul>
</nav>